<style>
    h6, p, span, a, i {
        color: white;
    }
</style>

<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
    </div>
    <div>
        <a href="https://www.facebook.com/" class="me-4 text-reset" style="text-decoration: none;" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/" class="me-4 text-reset" style="text-decoration: none;" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.google.com/" class="me-4 text-reset" style="text-decoration: none;" target="_blank">
            <i class="fab fa-google"></i>
        </a>
        <a href="https://www.instagram.com/" class="me-4 text-reset" style="text-decoration: none;" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/" class="me-4 text-reset" style="text-decoration: none;" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
</section>
<section class="">
    <div class="container text-md-start mt-5">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    <i class="fa-solid fa-store" style="padding-right: 10px;"></i>REDSTORE
                </h6>
                <p>
                    Welcome to a whole new world of shopping with our RedStore Website!
                    Join our long list of happy  and start shopping.
                </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    Information
                </h6>
                <p>
                    <a href="/Termsandconditions" class="text-reset" style="text-decoration: none;">Terms and Conditions</a>
                </p>
                <p>
                    <a href="/Privacyandsecuritypolicy" class="text-reset" style="text-decoration: none;">Privacy & Security</a>
                </p>
                <p>
                    <a href="/Returnpolicy" class="text-reset" style="text-decoration: none;">Return & Refund</a>
                </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    Information
                </h6>
                <p>
                    <a href="/About" class="text-reset" style="text-decoration: none;">About Us</a>
                </p>
                <p>
                    <a href="/Seller" class="text-reset" style="text-decoration: none;">Sell on RedStore</a>
                </p>
                <p>
                    <a href="#!" class="text-reset" style="text-decoration: none;">Careers</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fas fa-map-marker-alt me-3"></i>Beirut, Lebanon</p>
                <p><i class="fas fa-envelope me-3"></i><a href="mailto:redstore@gmail.com" style="color:white;text-decoration:none;">redstore@gmail.com</a></p>
                <p><i class="fas fa-phone-alt me-3"></i><a href="tel:0096101000000" style="color:white;text-decoration:none;">+961 01-000000</a></p>
            </div>
        </div>
    </div>
</section>
<div class="text-center p-4" style="background-color: black;color: white">
    © 2022 RedStore shopping for happiness
</div>