@model IEnumerable<EcommerceMVC.Models.View.FavoriteView>

@{
    ViewData["Title"] = "Favorite";
}

@if (Model == null || !Model.Any())
{
    <section class="" style="margin-top: 4%;margin-bottom: 3%;height: 540px;">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col">
                <div class="card" style="height: 540px;">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1" style="color:black;"><b>Favorite Details</b></p>
                                        <p class="mb-0" style="color:black;">There are currently no items in your Favorite</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="h-100 h-custom" style="margin-top: 4%;margin-bottom: 3%;min-height: 540px;">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card" style="min-height: 540px;">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1" style="color:black;"><b>Favorite Details</b></p>
                                        <p class="mb-0" style="color:black;">You have @Model.Count() items in your Favorite Details</p>
                                    </div>
                                </div>

                                @foreach (var item in Model)
                                {

                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <a href="/Products/ProductDetails/@item.Product_id" style="text-decoration:none;color:black;">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div>
                                                            <img src="~/Images/products/@item.ImageURL"
                                                                 class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                        </div>
                                                        <div class="ms-3">
                                                            <h6 style="margin-bottom: 0px;color:black;">@item.Title</h6>
                                                            <p class="small mb-0" style="color:black;">Date: @item.Created_at.ToString("yyyy-MM-dd")</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="scrollToTopBtn">
    <span>&#8593;</span>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        window.addEventListener('pageshow', function (event) {
            var historyTraversal = event.persisted ||
                (typeof window.performance != 'undefined' &&
                    window.performance.navigation.type === 2);
            if (historyTraversal) {
                // Handle page restore.
                window.location.reload();
            }
        });
    </script>

    <script>
        Turbolinks.start();
    </script>
}